html
    head
        title Index
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/style/main.css")
    body
        .container
            h1 Express ready to go
            p You may change this repository
            hr
            .center
                img(src="img/pic.jpg")